Repository uprm-inso4115-2024-2025-s2/semester-project-condo-rentals, pull requests merged in 2025-02, with the labels that each got.

#139 Created readme for database configs
  condo-rentals/backend/databaseConfig.md
Labels: Backend & Infrastructure Team

#138 added initial map view
  condo-rentals/app/(tabs)/Map.tsx
  condo-rentals/package-lock.json
  condo-rentals/package.json
Labels: Interactive Map & Location Services Team

#137 Listings overview integration
  condo-rentals/app/(tabs)/Listings.tsx
  condo-rentals/assets/images/Condo Rental Assets/Condo_ListingPlaceholder.png
  condo-rentals/components/ListingsDetails.tsx
  condo-rentals/components/ListingsPreview.tsx
Labels: Rental Listings & Search Team
