Repository uprm-inso4115-2024-2025-s2/semester-project-condo-rentals, pull requests merged in 2025-03, with the labels that each got.

#171 Search and Filter Implementation for Listings Overview
  condo-rentals/app/(tabs)/Listings.tsx
  condo-rentals/components/SearchBar.tsx
Labels: Rental Listings & Search Team

#188 Listing details page
  condo-rentals/app/(tabs)/ListingDetails.tsx
  condo-rentals/app/(tabs)/Listings.tsx
Labels: Rental Listings & Search Team, Manager Approved 👍

#181 Developed the Landing Page
  condo-rentals/app/(tabs)/Landing.tsx
  condo-rentals/app/(tabs)/_layout.tsx
  condo-rentals/app/index.tsx
Labels: Rental Listings & Search Team

#184 Condo class
  condo-rentals/components/Condo.ts
  condo-rentals/components/CondosDummy.ts
Labels: Interactive Map & Location Services Team

#186 Implement "Locate User" Button Design to In-App Map
  condo-rentals/app/(tabs)/Map.tsx
  condo-rentals/assets/images/Condo Rental Assets/Condo_UserLocation.png
Labels: Interactive Map & Location Services Team, Completed

#204 Home Page Implementation
  condo-rentals/app/(tabs)/Home.tsx
  condo-rentals/app/(tabs)/_layout.tsx
  condo-rentals/package-lock.json
  condo-rentals/package.json
Labels: Rental Listings & Search Team

#187 Jjulianirizarry24/user location tasks
  condo-rentals/app/(tabs)/Map.tsx
  condo-rentals/package-lock.json
  condo-rentals/yarn.lock
Labels: Interactive Map & Location Services Team

#241 Jjulianirizarry24/add rental listing preview
  condo-rentals/app/(tabs)/Map.tsx
  condo-rentals/components/CondoCard.tsx
  condo-rentals/components/InterfaceMarker.ts
  condo-rentals/components/MapListingsService.tsx
  condo-rentals/yarn.lock
Labels: Interactive Map & Location Services Team

#249 added addCondoButton
  condo-rentals/app/(tabs)/Map.tsx
  condo-rentals/assets/images/Condo Rental Assets/Condo_add.png
  condo-rentals/components/addCondoListing.tsx
Labels: Interactive Map & Location Services Team
