Repository uprm-inso4115-2024-2025-s2/semester-project-condo-rentals, pull requests merged in 2025-04, with the labels that each got.

#244 Implementation of "Locate User" Button Functionality
  condo-rentals/app/(tabs)/Map.tsx
Labels: Interactive Map & Location Services Team

#325 Issue #283 Add App Name and Logo to Authentication Page
  condo-rentals/app/(tabs)/Profile.tsx
Labels: User Authentication & Profile Team

#338 Issue #285 Add "Go Back" Button to Create Account Page
  condo-rentals/app/(tabs)/Profile.tsx
Labels: User Authentication & Profile Team

#341 251 Landing Page Enhancement
  condo-rentals/app/(tabs)/Landing.tsx
  condo-rentals/app/LearnMore.tsx
Labels: Rental Listings & Search Team, Completed

#343 Listings preview and details updates
  condo-rentals/app/(tabs)/Listings.tsx
  condo-rentals/components/ListingsDetails.tsx
  condo-rentals/components/ListingsPreview.tsx
Labels: Rental Listings & Search Team, Completed

#364 Add API endpoint for New Listings
  condo-rentals/backend/controllers/propertyController.js
  condo-rentals/backend/routes/propertyRoutes.js
Labels: Backend & Infrastructure Team, Completed

#360 connected listings page to the backend
  condo-rentals/app/(tabs)/Listings.tsx
  condo-rentals/backend/queries/condos.ts
Labels: Backend & Infrastructure Team, Completed

#366 Listing Details Implementation
  condo-rentals/app/(tabs)/Home.tsx
  condo-rentals/app/(tabs)/ListingDetails.tsx
  condo-rentals/backend/queries/newest_condos.ts
  condo-rentals/components/ListingDetails.tsx
Labels: Backend & Infrastructure Team, Completed

#363 Trusted Landlords Frontend and Backend
  condo-rentals/app/(tabs)/Home.tsx
  condo-rentals/backend/controllers/landlordsController.js
  condo-rentals/backend/queries/trustedLandlords.tsx
  condo-rentals/backend/routes/trustedLandlordRoutes.js
  condo-rentals/components/TrustedLandlords.tsx
Labels: Backend & Infrastructure Team, Completed
